@mixin back-img($img: '', $size: contain) {
  @if ($img != '') {
    background-image: url($path-img + $img);
  }
  background-size: $size;
  background-position: 100%;
  background-repeat: no-repeat;
  @content;
}

@mixin url-img($img) {
  background-image: url($path-img + $img);
}
