.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  background-image: url('../img/bastion.jpg');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;

    background-color: rgba($color: #000000, $alpha: 0.4);
  }

  video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    object-position: 100%;
    opacity: 0.5;
    opacity: 0;
  }

  .hero-container {
    width: 100%;
    height: 100%;
    position: absolute;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 313px 49px 162px 110px 1fr);
    grid-template-areas:
      'top'
      'countdown'
      'selections'
      'heroes'
      'select';

    .selections {
      display: grid;
      grid-area: selections;

      grid-template-columns: repeat(6, 95px);
      grid-template-rows: 1fr;
      column-gap: 33px;
      align-items: center;
      justify-content: center;

      .selection {
        height: 110px;
        margin-top: -20px;

        background-image: url('../img/hero-portrait.png');
        background-size: contain;
        background-position: 100%;
        text-align: center;

        .hero-avatar {
          width: 80%;
          height: 80%;
          background-repeat: no-repeat;
          background-size: 70%;
          background-position: 100%;
          clip-path: polygon(98% 0, 98% 74%, 65% 93%, 30% 76%, 29% 0);
        }

        p {
          padding-top: 21px;
          // TODO: agregar separacion para el icono de la derecha
          // padding-right: 20px;
          margin: 0;

          text-transform: uppercase;
          font-size: 21px;
          color: #2bcaec;

          font-style: italic;
        }

        &:nth-child(1) .hero-avatar {
          background-image: url('../img/selected-heroes/bastion.png');
        }

        &:nth-child(2) .hero-avatar {
          background-image: url('../img/selected-heroes/mercy.png');
        }

        &:nth-child(3) .hero-avatar {
          background-image: url('../img/selected-heroes/winston.png');
        }

        &:nth-child(4) .hero-avatar {
          background-image: url('../img/selected-heroes/widowmaker.png');
        }

        &:nth-child(5) .hero-avatar {
          background-image: url('../img/selected-heroes/genji.png');
        }

        &:nth-child(6) .hero-avatar {
          background-image: url('../img/selected-heroes/hanzo.png');
        }
      }
    }
  }
}
