@import '../utils/images';

.hero {
  @include url-img('bastion.jpg');

  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;

  video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: fill;
    object-position: 100%;
    // opacity: 0.6;
    opacity: 0;
  }

  main {
    width: 100%;
    height: 100%;
    position: absolute;

    display: grid;
    grid-template-areas:
      'top'
      'countdown'
      'selections'
      'heroes'
      'select';
    grid-template-rows: repeat(3, 44% 7.8% 22% 15% 1fr);
    grid-template-columns: 1fr;

    section.selected-hero {
      display: grid;
      grid-area: selections;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(6, 95px);
      column-gap: 33px;
      align-items: center;
      justify-content: center;

      .selected {
        @include back-img('hero-portrait.png');

        height: 110px;
        margin-top: -20px;
        text-align: center;

        [avatar] {
          @include back-img('', 70%);

          width: 81%;
          height: 83%;

          clip-path: polygon(98% 0, 98% 74%, 65% 93%, 30% 76%, 29% 0);
        }

        p {
          padding-top: 21px;
          // TODO: agregar separacion para el icono de la derecha
          // padding-right: 20px;
          margin: 0;

          text-transform: uppercase;
          font-size: 21px;
          color: #2bcaec;

          font-style: italic;
        }
      }
    }

    section.selection-hero {
      padding: 0 7%;

      display: grid;
      grid-area: heroes;
      grid-template-rows: (1fr);
      grid-template-columns: 25% 23% 23% 20%;
      column-gap: 40px;
      justify-content: space-between;

      .selection {
        padding: 20px 0;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(7, 1fr);
        column-gap: 4px;
        justify-content: space-between;

        [hero] {
          background-color: $color-black;

          transform: skewX(-15deg);
          transform-origin: bottom left;

          box-shadow: inset 0 2px 0 0 $color-white, inset 0 -1px 0 0 $color-white;
          border: none;
          border-radius: 3px;
          transition: all 0.15s ease-in-out;

          &:hover {
            transform: scale(1.15) skewX(-15deg) translate(-2px, 2px);
            box-shadow: 0 0 0 3px $color-white;
            z-index: 1;
          }

          @include back-img('', cover) {
            background-position: top;
          }
        }
      }
    }
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;

    background-color: rgba($color: #000000, $alpha: 0.4);
  }
}
