.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  background-image: url('../img/bastion.jpg');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;

    background-color: rgba($color: #000000, $alpha: 0.4);
  }

  video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: fill;
    object-position: 100%;
    // opacity: 0.6;
    opacity: 0;
  }

  .hero-container {
    width: 100%;
    height: 100%;
    position: absolute;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 44% 7.8% 22% 15% 1fr);
    grid-template-areas:
      'top'
      'countdown'
      'selections'
      'heroes'
      'select';

    .selections {
      display: grid;
      grid-area: selections;
      grid-template-columns: repeat(6, 95px);
      grid-template-rows: 1fr;
      column-gap: 33px;
      align-items: center;
      justify-content: center;

      .selection {
        height: 110px;
        margin-top: -20px;

        background-image: url('../img/hero-portrait.png');
        background-size: contain;
        background-position: 100%;
        text-align: center;

        .hero-avatar {
          width: 80%;
          height: 80%;

          @include back-img('', 70%);
          clip-path: polygon(98% 0, 98% 74%, 65% 93%, 30% 76%, 29% 0);

          &[avatar='bastion'] {
            @include img-url('selected-heroes/bastion.png');
          }

          &[avatar='mercy'] {
            @include img-url('selected-heroes/mercy.png');
          }

          &[avatar='winston'] {
            @include img-url('selected-heroes/winston.png');
          }

          &[avatar='widowmaker'] {
            @include img-url('selected-heroes/widowmaker.png');
          }

          &[avatar='genji'] {
            @include img-url('selected-heroes/genji.png');
          }

          &[avatar='hanzo'] {
            @include img-url('selected-heroes/hanzo.png');
          }
        }

        p {
          padding-top: 21px;
          // TODO: agregar separacion para el icono de la derecha
          // padding-right: 20px;
          margin: 0;

          text-transform: uppercase;
          font-size: 21px;
          color: #2bcaec;

          font-style: italic;
        }
      }
    }

    .heroes {
      display: grid;
      grid-area: heroes;
      // 7 6 5 5
      grid-template-columns: 25% 23% 23% 20%;
      grid-template-rows: (1fr);
      column-gap: 40px;
      justify-content: space-between;
      padding: 0 7%;

      .col {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr;
        column-gap: 4px;
        justify-content: space-between;
        padding: 20px 0;

        & > div {
          background-color: $color-black;
          @include back-img('', cover) {
            background-position: top;
          }
          transform: skewX(-15deg);
          transform-origin: bottom left;
          box-shadow: inset 0 2px 0 0 $color-white, inset 0 -1px 0 0 $color-white;
          border: none;
          border-radius: 3px;
          transition: all 0.15s ease-in-out;

          &:hover {
            transform: scale(1.15) skewX(-15deg) translate(-2px, 2px);
            box-shadow: 0 0 0 3px $color-white;
            z-index: 1;
          }
        }

        [hero='genji'] {
          @include img-url('heroes/genji.png');
        }

        [hero='mccree'] {
          @include img-url('heroes/mccree.png');
        }

        [hero='pharah'] {
          @include img-url('heroes/pharah.png');
        }

        [hero='reaper'] {
          @include img-url('heroes/reaper.png');
        }

        [hero='soldier-76'] {
          @include img-url('heroes/soldier-76.png');
        }

        [hero='sombra'] {
          @include img-url('heroes/sombra.png');
        }

        [hero='tracer'] {
          @include img-url('heroes/tracer.png');
        }
      }
    }
  }
}
